
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f4f4f4;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.sobre-espaco{
    background-color: #fff;
}

.projetos-selecao {
    background-color: #eee;
}

.contato-selecao {
    background-color: #ddd;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.princiapl {
    max-width: 600px;
    text-align: left;
}

.princiapl h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.princiapl p {
    font-size: 1.2rem;
}

.projeto {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 0;
}
